version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ma9arouna
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./Back   # ✅ le bon dossier
      dockerfile: Dockerfile
    container_name: fastapi_backend
    restart: always
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://postgres:ma9arouna@db:5432/postgres  # ✅ hostname Docker
      CORS_ORIGINS: http://localhost:5173
    ports:
      - "8000:8000"
    volumes:
      - ./Back:/app      # ✅ synchronise ton code local dans /app du conteneur
    # ✅ assure le démarrage  
    command: >
      uvicorn main:app --host 0.0.0.0 --port 8000 --reload  

  frontend:
    build: ./evaluation-frontend
    container_name: react_frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "5173:80"

volumes:
  postgres_data:
